includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
	level: 6
	paths:
		- src
	checkGenericClassInNonGenericObjectType: false
#	ignoreErrors:
#		- '#^No error to ignore is reported #'
